#DEV ENV
FLASK_DEBUG=1

SECRET_KEY=Another_secret_key
JWT_SECRET_KEY=The_Secret_key_must_be_a_secret

REDIS_HOST=cache.interconnect
REDIS_PORT=6379
REDIS_PASSWORD=f73rt6r3etfr3rtw5r35t

TEST_REDIS_HOST=test-cache.interconnect
TEST_REDIS_PORT=6379
TEST_REDIS_PASSWORD=f73rt6r3etfr3rtw5r35t

POSTGRES_AUTH_DB=auth_movies
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=pg-db
POSTGRES_PORT=5432
CONNECT_TIMEOUT=1

TEST_POSTGRES_AUTH_DB=test_auth
TEST_POSTGRES_USER=app
TEST_POSTGRES_PASSWORD=123qwe
TEST_POSTGRES_HOST=test-pg-db
TEST_POSTGRES_PORT=5432



AUTH_API_PORT=9001
WORKERS=2

VK_CLIENT_ID='11111111111'
VK_CLIENT_SECRET='client_secret'

GOOGLE_CLIENT_ID='1111111111-dkfdjgjdkgjkdjgkdjkgjdkgjkgj.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='GOCSPX-client_secret'

YANDEX_CLIENT_ID = '11fdgdf1hdf123ertgd'
YANDEX_CLIENT_SECRET = 'client_secret'

MAIL_CLIENT_ID = '002b8c1e111111111111'
MAIL_CLIENT_SECRET = 'client_secret'

ASYNC_SECRET_KEY=Basic secret_key
